import os

# Directory where the log file of the bot shall be stored
LOG_PATH = os.getenv("BOT_LOG_PATH", "./log")

"""
Discord Section.
"""
# The Token of your botuser.
BOT_TOKEN = os.getenv("BOT_TOKEN", "XXXXXXX")
# Discord Status
PLAYING = os.getenv("TAG", "AUTHICUNO")

"""
CORE Section.
"""
# The host of the DB in which we store core settings
CORE_DB_HOST = os.getenv("CORE_DB_HOST", "db")
# The user of the DB
CORE_DB_USER = os.getenv("CORE_DB_USER", "authicuno")
# The password of user CORE_DB_USER
CORE_DB_PASSWORD = os.getenv("CORE_DB_PASSWORD", "bestpw")
# The port of the DB-server
CORE_DB_PORT = os.getenv("CORE_DB_PORT", 3306)
# The name of the DB in which we store  core settings
CORE_DB_NAME = os.getenv("CORE_DB_NAME", "authicuno_db")
# The dialect of the database-server
CORE_DB_DIALECT =  os.getenv("CORE_DB_DIALECT", "mysql")
# The driver of the database-server
CORE_DB_DRIVER =  os.getenv("CORE_DB_DRIVER", "mysqlconnector")

"""
PMSF Section.
"""
# The host of the PMSF manual-db 
PMSF_DB_HOST = os.getenv("PMSF_DB_HOST", "pmsf_db")
# The user of the PMSF manual-db 
PMSF_DB_USER = os.getenv("PMSF_DB_USER", "pmsf")
# The password of user PMSF manual-db USER
PMSF_DB_PASSWORD = os.getenv("PMSF_DB_PASSWORD", "bestpw")
# The port of the PMSF manual-db server
PMSF_DB_PORT = os.getenv("PMSF_DB_PORT", 3306)
# The name of the PMSF manual-db 
PMSF_DB_NAME = os.getenv("PMSF_DB_NAME", "pmsf")
# The dialect of the database-server
PMSF_DB_DIALECT =  os.getenv("PMSF_DB_DIALECT", "mysql")
# The driver of the database-server
PMSF_DB_DRIVER =  os.getenv("PMSF_DB_DRIVER", "mysqlconnector")


# Mapping: guild -> { role -> access_level}
GUILDS = {
    # Bree's server
    409418083632152577: {
        # test_rolebot
        616562233475989514: 2,
        # Scanner
        594072522203463683: 1,
        # root
        461988882385207299: 3,
    }
}
